<div id="main">
    <div>
        <h1>{{project.pname}}</h1>
        <div>
            <p>About id {{project.pid}}</p>
            <div>
                {{project.pdesc}}.
            </div>
        </div>
    </div>
</div>
